name: Database Tests
on:
  push:
    branches: [ main, dev ]
    paths:
      - 'supabase/**'
  pull_request:
    branches: [ main, dev ]
    paths:
      - 'supabase/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: supabase/setup-cli@v1
        with:
          version: latest
      - run: supabase db start
      - run: supabase test db